################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Multi lingual student management system/.vs
/Multi lingual student management system/Multi lingual student management system/bin/Debug/net6.0
/Multi lingual student management system/Multi lingual student management system/obj
